menu "Winston Config"

    config WINSTON_WIFI_SSID
        string "WiFi SSID"
        default ""
        help
            SSID (network name) for the Winston to connect to.

    config WINSTON_WIFI_PASSWORD
        string "WiFi Password"
        default ""
        help
            WiFi password (WPA or WPA2) for the Winston to use.

endmenu
